<h1>
    Test-Model works
</h1>
<!-- <div class="test-area">
    <input type="text">
    <button (click)="addThing()">add thing</button>
    <br>
    <input type="text">
    <button (click)="addActor()">add actor</button>
    <br>
    <input type="text">
    <button (click)="derivation()">derivation</button>
    <br>
    <input type="text">
    <button (click)="addEvent()">add event</button>
    <br> -->
    <!-- <button (click)="export()">export</button>
</div> -->

<span>
	<button (click)="addThing()">add thing </button>

	<button (click)="addActor()">add actor </button>

	<button (click)="addEvent()">add event </button>

	<button (click)="addEvent()">add event </button>

	<button (click)="export()">export</button>
	<button (click)="clear()">new</button>

</span>


<!-- making relations section -->
<br>
<span>

	<input type="text" name="a" placeholder="start (ele id)" [(ngModel)]="startEleId">
	<input type="text" name="b" placeholder="end (ele id)" [(ngModel)]="endEleId">

	<button (click)="addPair(startEleId,endEleId)"> Join </button>
	<p>{{startEleId}}</p>
	<p>{{endEleId}}</p>

</span>

<button (click)="inferRelations()">infer test </button>



<div class="canvas">
    <fieldset *ngFor="let ele of elementsOnCanvas" [id]="ele.id">

        <legend><img style="height:50px;width:50px" [src]="ele.src"></legend>

        <input [placeholder]="input.name" *ngFor="let input of ele.inputArray;let in=index" [(ngModel)]="input.value" [id]="input.id" />

        <select [(ngModel)]="selectedOption" (ngModelChange)="processEleAttribute(selectedOption.id,ele.type,ele.inputArray,ele.attributeArray)">
            <option selected disabled> Add an Attribute </option>
            <option *ngFor="let item of ele.attributeArray" [ngValue]="item">{{item.name}}</option>
        </select>

        <!-- test to see if each box's input  is unique -->
        <!-- <div>words: {{ele.inputArray | json}}</div> -->

        <button style="float:right" (click)="deleteElementFromCanvas(ele.id)"><img style="height:10px;width:10px" src="http://findicons.com/files/icons/557/creme/128/delete.png"></button>

    </fieldset>
</div>


<div style="float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;" pDraggable="dd">Draggable 

     <ul style="margin:0;padding:0" *ngFor="let ele of elementsOnCanvas" class="ui-state-default ui-helper-clearfix" pDraggable="ele.type"
                    (onDragStart)="dragStart($event,ele.type)" (onDragEnd)="dragEnd($event)">
                <li >

                {{ele.type}}
                    <!-- <i class="fa fa-arrows fa-2x" style="float:right;margin-top:8px"></i>
                    <img src="showcase/resources/demo/images/car/{{car.brand}}.gif" style="float:left" draggable="false">
                    <div style="margin:8px 0 0 8px;float:left">{{car.vin}} - {{car.year}}</div> -->
                </li>
            </ul>
<i class="fa fa-file-text-o" aria-hidden="true"></i>

</div>

<br>

<div style="float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;" (onDrop)="drop($event)" pDroppable="dd">Droppable 
<div [dragula]='"first-bag"'>
    

    <ul  *ngFor="let i of selectedCars">
        <li>{{i}}</li>
    </ul>
    </div>
        
</div>