<p>
    test-model works!
</p>
<div class="test-area">
    <input type="text">
    <button (click)="addThing()">add thing</button>
    <br>
    <input type="text">
    <button (click)="addActor()">add actor</button>
    <br>
    <input type="text">
    <button (click)="derivation()">derivation</button>
    <br>
    <input type="text">
    <button (click)="addEvent()">add event</button>
    <br>
    <button (click)="export()">export</button>
</div>
<fieldset>
    <legend><img style="height:50px;width:50px" src="http://transparenciaong.info/images/document_icon.png"></legend>
    <input [placeholder]="input.name" *ngFor="let input of inputArray;let in=index" [(ngModel)]="input.value" [id]="input.id" />
  <!--   <input *ngFor="let input of inputArray; let in=index" type="text" [(ngModel)]="inputArray[in].name" class="form-control" [attr.placeholder]="inputArray[in].id" required>
 -->
    <select [(ngModel)]="selectedOption" (ngModelChange)="addClickedAttr(selectedOption.id)">
        <option selected disabled>Add an Attribute</option>
        <option *ngFor="let item of attributesArray" [ngValue]="item">{{item.name}}</option>
    </select>
    <button (click)="makeThing()">make thing</button>
</fieldset>

<!-- only the input array seems to be recieving the changes from the input -->
<div>words: {{inputArray | json}}</div>
<!-- the below is not displaying :/ -->
<!-- <p>hi jane, just tessting..</p>
<p>{{title}}</p>
<p>{{url}}</p>
<p>{{location}}</p>
<p>{{label}}</p>
<p>{{name}}</p>
 -->