<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Story Editor</a>
        </div>
        <button class="btn btn-success navbar-btn" (click)="clear();">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            New Story
        </button>
        <button mdTooltip="Compile story and save to ProvStore" style="float:right;" class="export-btn btn btn-default navbar-btn" (click)="export()">Export</button>
        <button mdTooltip="select element to relate on canvas" *ngIf="!selecting" class="btn btn-default navbar-btn" (click)="activateSelectionMode()">
            <i class="connect fa fa-share-alt" aria-hidden="true"></i> Make Connections</button>
        <button *ngIf="selecting" class="btn btn-danger navbar-btn" (click)="deactivateSelection()">
            <i class="fa fa-times" aria-hidden="true"></i> Cancel
        </button>
        <p-messages [value]="errorMessages"></p-messages>
        
        <button (click)="startTour();" style="float:right;" class="btn btn-info navbar-btn">Help</button>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="story-title">
            <md-input-container>
                <input mdInput placeholder="Story title" [(ngModel)]="storyTitle">
            </md-input-container>
        </div>
        <div class="canvas col-sm-9 push-sm-3">
            <!-- / boolean to see if we should show the 'drag and drop story...' sign //only show if canvas is blank /i.e canvas array  is empty -->
            <div *ngIf="elementsOnCanvas.length === 0" class="traced-sign grey-out">
                <p class="middle-text grey-out">
                   Story Elements will be added here
                </p>
            </div>
    
            <div class="card" style="margin:2%;width:250px;position: absolute;" (click)="chosenElement(ele.id)" *ngFor="let ele of elementsOnCanvas; let i = index;" [id]="ele.id">
                <!-- stiuff from url will go here -->
                <div class="handle"> <span style="font-size: smaller" >{{ele.type}} : {{shortenURLonCard(ele.inputArray["0"].value)}} 
                

                <a  class="enter-edit-icon" *ngIf="ele.isEditable" (click)="ele.isEditable=false;enlarge(ele.id)" >  
                <i mdTooltip="enter edit mode"  class="fa fa-window-maximize"  aria-hidden="true"></i>
                 </a>

                <a  class="exit-edit-icon" *ngIf="!ele.isEditable"  (click)="ele.isEditable=true;shrink(ele.id)" >  
                <i mdTooltip="exit edit mode"  class="fa fa-window-minimize"  aria-hidden="true"></i>
                 </a>
                </span></div>
               
                <md-card *ngIf="ele.isEditable">
                   
                    <img md-card-image style="float:left;width:50px;height: 50px" class="canvas-icons" [src]="ele.urlSummary.img">
            
                    <md-card-title style="margin-left:20%;font-size:15px">{{ele.urlSummary.title}}</md-card-title>
                    <md-card-subtitle style="margin-left:20%;font-size:10px;">{{ele.urlSummary.desc}}
                        <a mdTooltip="go to site" style="font-size: 14px;float: right;margin-left: 7px;margin-right: -15px;" [href]="ele.urlSummary.url">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                        <a mdTooltip="view url preview" *ngIf="ele.inputArray['0'].value !== '' " (click)="getUrlSummary(ele)" style="font-size: 14px;float: right; cursor: pointer;">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </md-card-subtitle>
                </md-card>
                <fieldset *ngIf="!ele.isEditable" >
                    <legend><img class="canvas-icons" [src]="ele.src"></legend>
                    <input size="25" pInputText type="text" [placeholder]="input.name" *ngFor="let input of ele.inputArray;let in=index" [(ngModel)]="input.value" [id]="input.id" />
                    <!-- SHOW START/END SPEACIAL INPUT BOX IF CLICKED  -->
                    <span style="margin-right: 3%;" *ngIf="ele.startDateAdded && ele.type==='event'">
                    <p-calendar  [(ngModel)]="ele.startDate" [showTime]="true" [showIcon]="true" ></p-calendar> 
                   
                    </span>
                    <span style="margin-right: 3%;" *ngIf="ele.endDateAdded && ele.type==='event'">
                    <p-calendar  [(ngModel)]="ele.endDate" [showTime]="true" [showIcon]="true"></p-calendar> 
                   
                    </span>
                    <md-select placeholder="Add Attribute" [(ngModel)]="selectedOption">
                        <md-option *ngFor="let item of ele.attributeArray"  [value]="item" (click)="processEleAttribute(selectedOption.id,ele.type,ele.inputArray,ele.attributeArray,ele)">
                            {{item.name}}
                        </md-option> 
                    </md-select>
                    <img class="delete-icon grey-out" (click)="deleteElementFromCanvas(ele.id)" src="../../assets/images/trash.png">
                </fieldset>
            </div>
            <!--   </div> -->
            <!-- elements will go here -->
        </div>
        <div class="col-sm-3">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="well">
                    <!-- <h3></h3> -->
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="Story Elements" [selected]="true">
                            <div class="story-elements">
                                <span> Thing </span>
                                <span> Event </span>
                                <span> Actor </span>
                                <img mdTooltip="Thing (e.g. document, webpage, chart)" (click)="addThing()" class="spacing" src="../../assets/images/document64.png">
                                <img mdTooltip="Event (e.g. inaguration, meeting, conference)" (click)="addEvent()" class="spacing" src="../../assets/images/event64.png">
                                <img mdTooltip="Actor (e.g. organisation, person)" (click)="addActor()" style="width: 64px; height: 54px;" class="spacing" src="../../assets/images/actor-icon2.png">
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Do you wish to leave this page ?" icon="fa fa-question-circle" width="425"></p-confirmDialog>
