<!-- <p>
  story-editor works!
</p> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Story Editor</a>
    </div>
   <!--  <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul> -->
     <button  class="btn btn-success navbar-btn">New Story</button>
 
     <button style="float:right;" class="btn btn-default navbar-btn">Export</button>
     <button style="float:right;" class="btn btn-info navbar-btn">Help</button>
  </div>
</nav>


<div class="container fullscreen">

<div class="row">
  
  <div class=" canvas col-md-9 push-md-3">  
  <div  class="story-title">  <input type="text" placeholder="Story title">
 </div>
  </div>
  <div class=" side-panel col-md-3 pull-md-9"> 
 
<button class="accordion">Story Elements</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Types</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
  </div>
</div>
 </div> 