<!-- <p>
  story-editor works!
</p> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Story Editor</a>
        </div>
        <!--  <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul> -->
        <button class="btn btn-success navbar-btn">New Story</button>
        <button style="float:right;" class="btn btn-default navbar-btn">Export</button>
        <button style="float:right;" class="btn btn-info navbar-btn">Help</button>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class=" canvas col-sm-9 push-sm-3">
            <div class="story-title">
                <input type="text" placeholder="Story title">
            </div>
            <!-- elements will go here -->
        </div>
        <div class="col-sm-3">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="well">
                    <!-- <h3></h3> -->
                    <p-accordion [multiple]="true">
                        <p-accordionTab header="Story Elements" [selected]="true">
                           
                           <div class="story-elements">

                              <img class="spacing" src="../../assets/images/document64.png">

                              <img class="spacing" src="../../assets/images/event64.png">

                              <img style="width: 64px; height: 54px;" class="spacing"  src="../../assets/images/actor-icon2.png">
                             
                           </div>

                        </p-accordionTab>
                        <p-accordionTab header="Thing Types" [selected]="true">
                           <div class="story-elements">

                              <img class="spacing" src="../../assets/images/book5464.png">

                              <img class="spacing" src="../../assets/images/speech64.png">

                              <img class="spacing" src="../../assets/images/webPage64.png">

                              <!-- <img style="width: 64px; height: 54px;" class="spacing"  src="../../assets/images/actor-icon2.png"> -->
                             
                           </div>
                        </p-accordionTab>
                        <p-accordionTab header="Actor Types" [selected]="true">
                            <div class="story-elements">

                              <img class="spacing" src="../../assets/images/organisation64.png">

                              <img class="spacing" src="../../assets/images/person64.png">

                              <img class="spacing" src="../../assets/images/email64.png">

                              <!-- <img style="width: 64px; height: 54px;" class="spacing"  src="../../assets/images/actor-icon2.png"> -->
                             
                           </div>
                        </p-accordionTab>
                    </p-accordion>
                    <!--  <button class="accordion">Story Elements</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="accordion">Types</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="accordion">Section 3</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div> -->
                </div>
            </div>
            <!-- <div class=" side-panel col-md-3 pull-md-9">
            <button class="accordion">Story Elements</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="accordion">Types</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="accordion">Section 3</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div> -->
        </div>
    </div>
