<div class="container">
    <div class=" jumbotron  middle">
        <h1 class="middle-text grey"> Prov-Narrator </h1>
        <hr style="">
        <br>
        <br>
        <p class="middle-text grey ">
            It's simple! 
            <br>
            You create provenance based stories, 
            <br>
            We convert it to PROV and save it in the ProvStore!
        </p>
        <br>
        <div class="create-story">
            <a class="btn btn-success btn-lg" routerLink="/story-editor" (click)="cancelTour()">
                <span class="glyphicon glyphicon-pencil"></span> Create Story
            </a>
        </div>
    </div>
</div>
